.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.player--modal {
  background: #7bfff0;
  width: 50%;
  height: 50%;
  outline: none;
  padding: 3.2rem;
  text-align: center;
  overflow: auto;
}

.form {
  width: 100%;
}

.modal--button {
  width: 125px;
  height: 40px;
  letter-spacing: 0.5px;
  background-color: #1e43ac;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1rem;
}

.modal--button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
