.App {
  text-align: center;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 72px;
  color: #95dada;
}

.search {
  border: none;
  outline: none;
  -webkit-appearance: none;
  padding: 10px;
  width: 350px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
}
